<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Kanban App</title>
  </head>
  <body>
      <div id="app">
    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex justify-content-between">

            <div class="p-2"><a class="navbar-brand font-weight-bold" href="#">My-Kanban-App</a></div>
            <div class="p-2"><button type="button" name="button" class="btn btn-danger" v-on:click="logout" v-if="isLoggedIn"> Logout </button></div>
    </nav>

  <!-- LoginPage -->
  <div v-if="!isLoggedIn">
    <form v-on:submit.prevent="login">
      <div class="container mt-3 col-6">
        <h1>Login</h1>
        <div class="form-group">
          <label for="email-login">Email address</label>
          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password-login">Password</label>
          <input type="password" class="form-control" id="password-login" placeholder="Password" v-model="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

 <!-- Register Page -->
 <div v-if="!isLoggedIn">
   <form v-on:submit.prevent="register">
     <div class="container mt-3 col-6">
       <h1>Register</h1>
       <div class="form-group">
         <label for="email-login">Email address</label>
         <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
         <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
       </div>
       <div class="form-group">
         <label for="password-login">Password</label>
         <input type="password" class="form-control" id="password-login" placeholder="Password" v-model="password">
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
     </div>
   </form>
 </div>

  <!-- Kanban Page -->
  <div class="main-page" v-else>
    <div class="boards d-flex flex-row bd-highlight mb-5 ml-4 mr-4 justify-content-center align-items-start row">
      <div class="category p-2 bd-highlight mt-3 col-3">
        <div class="card-header bg-info text-white">
          Backlog
        </div>
        <div class="contents" id="backlog">
          <div class="card-no-task mt-2 mb-2 mr-2 ml-2">
            <div class="card-body" v-if="getBacklogs.length === 0">
              <h4>No Task</h4>
            </div>
          </div>

          <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-for="item in getBacklogs" :key="item.id">

            <div class="card-body pr-1 pl-1 pt-2 pb-2">
              <h5 class="card-title" v-if="onEdit[0] !== item.id">{{ item.title }}</h5>
              <form v-on:submit.prevent="EditTask('Backlog')">
                <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="onEdit[0] == item.id">
                  <textarea name="name" id="inputEdit" rows="4"v-model="onEdit[1]"></textarea>
                  <div class="container">
                    <div class="row">
                      <button type="submit" name="button" class="btn btn-success col-6" v-if="onEdit[0] == item.id"><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button>
                      <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelEdit" v-if="onEdit[0] == item.id"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                    </div>
                  </div>

                </div>
              </form>
              <div class="container p-0">
                <div class="row">
                  <div class="col-6">
                    <p>By: {{ item.UserEmail }}</p>
                     <p>{{ item.createdAt }}</p>
                  </div>
                  <div class="col-6 text-right" id="awesome-icons">
                    <a href="#"><i class="fa fa-wrench" v-on:click="editTaskStart(item.id, item.title)"aria-hidden="true"></i></a>
                    <a href="#" v-on:click="deleteTask(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" v-on:click="move('Product',item.id,item.title)">Move To Product</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Development',item.id,item.title)">Move To Development</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Done',item.id,item.title)">Move To Done</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form v-on:submit.prevent="AddTask('Backlog')">
            <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="isAddingBacklog">
              <textarea name="name" id="inputAdd" rows="4" cols="80" placeholder="Add Your Task" v-model="titleBacklogToAdd"></textarea>
              <div class="container">
                <div class="row">
                  <button type="submit" name="button" class="btn btn-success col-6" v-if="isAddingBacklog"><i class="fa fa-check-circle" aria-hidden="true"></i>Add Task</button>
                  <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelAddBacklog" v-if="isAddingBacklog"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-primary text-white" v-on:click="firstaddTaskBacklog" v-if="!isAddingBacklog">
            <a href="#"><i class="fa fa-plus-square" aria-hidden="true" >  Add Task</i></a>
          </div>
          </form>
          </div>
      <div class=" category p-2 bd-highlight mt-3 col-3">
        <div class="card-header bg-info text-white">
          Product
        </div>
        <div class="contents" id="product">
          <div class="card-no-task mt-2 mb-2 mr-2 ml-2">
            <div class="card-body" v-if="getProducts.length === 0">
              <h4>No Task</h4>
            </div>
          </div>
          <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-for="item in getProducts" :key="item.id">
            <div class="card-body pr-1 pl-1 pt-2 pb-2">
              <h5 class="card-title" v-if="onEdit[0] !== item.id">{{ item.title }}</h5>
              <form v-on:submit.prevent="EditTask('Product')">
                <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="onEdit[0] == item.id">
                  <textarea name="name" id="inputEdit" rows="4"v-model="onEdit[1]"></textarea>
                  <div class="container">
                    <div class="row">
                      <button type="submit" name="button" class="btn btn-success col-6" v-if="onEdit[0] == item.id"><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button>
                      <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelEdit" v-if="onEdit[0] == item.id"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                    </div>
                  </div>

                </div>
              </form>
              <div class="container p-0">
                <div class="row">
                  <div class="col-6">
                    <p>By: {{ item.UserEmail }}</p>
                     <p>{{ item.createdAt }}</p>
                  </div>
                  <div class="col-6 text-right" id="awesome-icons">
                    <a href="#" v-on:click="editTaskStart(item.id, item.title)"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                    <a href="#" v-on:click="deleteTask(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" v-on:click="move('Backlog',item.id,item.title)">Move To Backlog</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Development',item.id,item.title)">Move To Development</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Done',item.id,item.title)">Move To Done</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form v-on:submit.prevent="AddTask('Product')">
            <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="isAddingProduct">
              <textarea name="name" id="inputAdd" rows="4" cols="80" placeholder="Add Your Task" v-model="titleProductToAdd"></textarea>
              <div class="container">
                <div class="row">
                  <button type="submit" name="button" class="btn btn-success col-6" v-if="isAddingProduct"><i class="fa fa-check-circle" aria-hidden="true"></i>Add Task</button>
                  <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelAddProduct" v-if="isAddingProduct"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-primary text-white" v-on:click="firstaddTaskProduct" v-if="!isAddingProduct">
            <a href="#"><i class="fa fa-plus-square" aria-hidden="true">  Add Task</i></a>
        </div>
      </form>
      </div>
      <div class="category p-2 bd-highlight  mt-3 col-3">
        <div class="card-header bg-info text-white">
          Development
        </div>
        <div class="contents" id="development">
          <div class="card-no-task mt-2 mb-2 mr-2 ml-2">
            <div class="card-body" v-if="getDevelopments.length === 0">
              <h4>No Task</h4>
            </div>
          </div>
          <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-for="item in getDevelopments" :key="item.id">
            <div class="card-body pr-1 pl-1 pt-2 pb-2">
              <h5 class="card-title" v-if="onEdit[0] !== item.id">{{ item.title }}</h5>
              <form v-on:submit.prevent="EditTask('Development')">
                <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="onEdit[0] == item.id">
                  <textarea name="name" id="inputEdit" rows="4"v-model="onEdit[1]"></textarea>
                  <div class="container">
                    <div class="row">
                      <button type="submit" name="button" class="btn btn-success col-6" v-if="onEdit[0] == item.id"><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button>
                      <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelEdit" v-if="onEdit[0] == item.id"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                    </div>
                  </div>

                </div>
              </form>
              <div class="container p-0">
                <div class="row">
                  <div class="col-6">
                    <p>By: {{ item.UserEmail }}</p>
                     <p>{{ item.createdAt }}</p>
                  </div>
                  <div class="col-6 text-right" id="awesome-icons">
                    <a href="#" v-on:click="editTaskStart(item.id, item.title)"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                    <a href="#" v-on:click="deleteTask(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" v-on:click="move('Backlog',item.id, item.title)">Move To Backlog</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Product',item.id, item.title)">Move To Product</button>
                        <button class="dropdown-item" type="button" v-on:click="move('Done',item.id, item.title)">Move To Done</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form v-on:submit.prevent="AddTask('Development')">
            <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="isAddingDevelopment">
              <textarea name="name" id="inputAdd" rows="4" cols="80" placeholder="Add Your Task" v-model="titleDevelopmentToAdd"></textarea>
              <div class="container">
                <div class="row">
                  <button type="submit" name="button" class="btn btn-success col-6" v-if="isAddingDevelopment"><i class="fa fa-check-circle" aria-hidden="true"></i>Add Task</button>
                  <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelAddDevelopment" v-if="isAddingDevelopment"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer bg-primary text-white" v-on:click="firstaddTaskDevelopment" v-if="!isAddingDevelopment">
            <a href="#"><i class="fa fa-plus-square" aria-hidden="true">  Add Task</i></a>
        </div>
      </form>
      </div>
      <div class="category p-2 bd-highlight mt-3 col-3">
        <div class="card-header bg-info text-white">
          Done
        </div>
        <div class="contents" id="done">
          <div class="card-no-task mt-2 mb-2 mr-2 ml-2">
            <div class="card-body" v-if="getDone.length === 0">
              <h4>No Task</h4>
            </div>
          </div>
            <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-for="item in getDone" :key="item.id">
              <div class="card-body pr-1 pl-1 pt-2 pb-2">
                <h5 class="card-title" v-if="onEdit[0] !== item.id">{{ item.title }}</h5>
                <form v-on:submit.prevent="EditTask('Done')">
                  <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="onEdit[0] == item.id">
                    <textarea name="name" id="inputEdit" rows="4"v-model="onEdit[1]"></textarea>
                    <div class="container">
                      <div class="row">
                        <button type="submit" name="button" class="btn btn-success col-6" v-if="onEdit[0] == item.id"><i class="fa fa-check-circle" aria-hidden="true"></i>Edit</button>
                        <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelEdit" v-if="onEdit[0] == item.id"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                      </div>
                    </div>

                  </div>
                </form>
                <div class="container p-0">
                  <div class="row">
                    <div class="col-6">
                      <p>By: {{ item.UserEmail }}</p>
                       <p>{{ item.createdAt }}</p>
                    </div>
                    <div class="col-6 text-right" id="awesome-icons">
                      <a href="#" v-on:click="editTaskStart(item.id, item.title)"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                      <a href="#" v-on:click="deleteTask(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                      <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button" v-on:click="move('Backlog',item.id, item.title)">Move To Backlog</button>
                          <button class="dropdown-item" type="button" v-on:click="move('Product',item.id, item.title)">Move To Product</button>
                          <button class="dropdown-item" type="button" v-on:click="move('Development',item.id, item.title)">Move To Development</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <form v-on:submit.prevent="AddTask('Done')">
              <div class="card mt-2 mb-2 mr-3 ml-3 rounded" v-if="isAddingDone">
                <textarea name="name" id="inputAdd" rows="4" cols="80" placeholder="Add Your Task" v-model="titleDoneToAdd"></textarea>
                <div class="container">
                  <div class="row">
                    <button type="submit" name="button" class="btn btn-success col-6" v-if="isAddingDone"><i class="fa fa-check-circle" aria-hidden="true"></i>Add Task</button>
                    <button type="button" name="button" class="btn btn-secondary col-6" v-on:click="cancelAddDone" v-if="isAddingDone"><i class="fa fa-times-circle" aria-hidden="true"></i>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer bg-primary text-white" v-on:click="firstaddTaskDone" v-if="!isAddingDone">
              <a href="#"><i class="fa fa-plus-square" aria-hidden="true">  Add Task</i></a>
            </div>
            </form>
            </div>

    </div>
  </div>
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="./main.js">
    </script>

  </body>
</html>
