.contents {
  height:450px;
  overflow-y: scroll;
  background-color:	#D3D3D3;
}

.card-header {
  font-weight:bold;
}

.fa-plus-square {
  color:white;
}

.card-no-task{
  background-color:	#D3D3D3;
  border-style: none;
  text-align: center;
}

p {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#awesome-icons > a{
  color:white;
}


#awesome-icons > a:hover{
  color:black;
}

#dropdownMenu2 {
  color:white;
}

#dropdownMenu2 {
  color:black;
}
.card-title{
  font-size:18px;
}
